.blog-card {
    width: 440px;
}

.blog-card--content {
    height: 250px;
}

.blog-card--img {
    width: inherit;
    height: 280px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.blog-card--title {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 992px) {
    .blog-card--recentes {
        width: 338px!important;
        margin: 0!important;
    }
}

@media (max-width: 768px) {
    .blog-card {
        margin: auto;
    }

    .blog-card--recentes {
        width: 400px!important;
    }
}

@media (max-width: 576px) {
    .blog-card--recentes {
        width: 300px!important;
    }
}