.entre-contato {
    margin-top: 100px;
}

.entre-contato--container {
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 40%;
    column-gap: 80px;
    margin: auto;
    padding: 60px;
}

.contato-form {
    display: grid;
    align-items: center;
    align-content: center;
}

.contato-form--btn {
    width: 100%;
    border-radius: 50px;
}

.form-label {
    margin-bottom: 5px;
}

.form-group {
    margin-block: 20px;
}

.form-control {
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 20px;
}

textarea.form-control {
    min-height: 200px;
    border-radius: 25px;
}

.entre-contato--text-column {
    display: flex;
    align-items: center;
    align-content: center;
}

@media (max-width: 1200px) {
    .entre-contato--container {
        padding: 40px;
        grid-template-columns: 42% 46%;
    }
}

@media (max-width: 992px) {
    .entre-contato--container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        padding: 80px;
    }

    .entre-contato--title {
        text-align: center;
    }

    .contato-form {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .entre-contato--container {
        padding: 40px;
    }
}

@media (max-width: 576px) {
    .entre-contato--container {
        padding: 40px 20px;
    }

    .entre-contato--container.container {
        max-width: 90%;
    }
}