footer {
    background-color: #E4EBEE;
    padding-block: 40px;
    margin-top: 100px;
}

.footer--container {
    display: grid;
    grid-template-columns: 243px 182px 304px 304px 182px;
    column-gap: 20px;
}

.footer--column {
    display: grid;
    padding: 0 20px;
    align-items: center;
    justify-content: center;
    align-content: space-evenly;
}

.footer--logo {
    width: 150px;
}

.footer--social {
    width: 50px;
}

.footer--trabalhe-title {
    font-weight: 500;
}

.footer--link {
    display: block;
    padding-block: 5px;
    text-decoration: underline;
}

.footer--nav-link {
    text-decoration: none;
}

.footer--links-uteis {
    max-height: 150px;
}

.footer--link-title {
    text-decoration: none;
    display: inline-block;
    margin-right: 5px;
}

.footer--hr {
    margin-top: 5px;
    opacity: .60;
}

@media (max-width: 1400px) {
    .footer--container {
        grid-template-columns: 207px 103px 310px 310px 103px;
    }
}

@media (max-width: 1200px) {
    .footer--container {
        grid-template-columns: 171px 85px 250px 250px 85px;
    }

    .footer--links-uteis {
        max-height: 170px;
    }
}

@media (max-width: 992px) {
    .footer--container {
        display: flex;
        flex-wrap: wrap;
        column-gap: 0;
    }

    .footer--link-social {
        display: initial;
        
    }

    .footer--column5 {
        grid-template-columns: auto auto auto;
        column-gap: 20px;
    }

    .footer--column1 {
        width:243px;
    }

    .footer--column2 {
        width: 139px;
    }

    .footer--column3 {
        width: 313px;
    }

    .footer--column4, .footer--column5 {
        width: 348px;
        margin-top: 40px;
    }

    .footer--column1, .footer--column4 {
        padding: 0 40px 0 0;
    }

    .footer--column3, .footer--column5 {
        padding: 0 0 0 40px;
    }
}

@media (max-width: 768px) {
    .footer--column1 {
        width: 180px;
    }

    .footer--column2 {
        width: 103px;
    }

    .footer--column3 {
        width: 232px;
    }

    .footer--column4, .footer--column5 {
        width: 258px;
    }
}

@media (max-width: 576px) {
    .footer--container {
        justify-content: space-evenly;
        row-gap: 30px;
    }

    .footer--nav-link {
        text-align: center;
    }

    .footer--column {
        height: auto;
        width: 300px;
        padding: 0;
        margin: 0;
    }

    .footer--column1, .footer--column2 {
        width: 140px;
    }

    .footer--column3, .footer--column4 {
        display: block;
    }

    .footer--links {
        margin-top: 10px;
    }

    .footer--trabalhe-title {
        text-align: center;
    }

    .footer--logo {
        width: 100px;
    }
}