.mockup {
    background-size: cover;
    background-repeat: no-repeat;
    height: 750px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 100px;
}

.mockup--container {
    display: inline-block;
    max-width: 600px;
}

.btn-info {
    --bs-btn-hover-color: #ffffff;
}

.mockup--btn {
    margin-top: 20px;
}


@media (max-width: 800px) {
    .mockup {
        padding-left: 50px;
    }
}

@media (max-width: 700px) {
    .mockup--title {
        text-align: center;
    }

    .mockup--container {
        position: initial;
        width: 90%;
    }

    .mockup {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 600px;
        padding: 0;
    }
}