body {
    font-family: 'Poppins', sans-serif;
}

/* NavBar */
.nav {
    background-color: #E4EBEE;
}

#root > div > nav {
    justify-content: space-around;
}

#nav--logo {
    width: 70%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
    box-shadow: none;
}

.navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1, 174, 240, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#root > div > nav > div {
    padding: 0;
    margin: 0;
}

#responsive-navbar-nav {
    justify-content: end;
}

#responsive-navbar-nav > div > a {
    margin: 10px 20px;
}

@media (max-width: 330px) {
    .navbar > .container {
        justify-content: center;
    }

    .navbar-toggler {
        margin-top: 10px;
    }

    .nav-link {
        text-align: center;
        line-height: 7px;
    }

    .navbar-collapse {
        margin-top: 20px;
    }
}

@media (max-width: 1205px) {
    #responsive-navbar-nav > div > a {
        margin: 5px 5px;
    }
}

/* MockUp */
.mockup {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 5vw;
}

.mockup--container {
    display: inline-block;
    width: 45vw;
}

.mockup--title {
    font-size: 5.6vmin;
    color: #000000;
    line-height: 8vmin;
    font-weight: 400;
}

.mockup--button {
    background-color: #01AEF0;
    padding: 7px 8%;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 2.2vmin;
}

.mockup--text {
    font-size: 3.5vmin;
    line-height: 5vmin;
    font-weight: 400;
}

.btn-info {
    --bs-btn-hover-color: #ffffff;
}

@media (max-width: 700px) {
    .mockup--title {
        text-align: center;
        font-size: 4.6vmax;
        line-height: 6vmax;
    }

    .mockup--container {
        position: initial;
        width: 90%;
    }

    .mockup--button {
        padding: 5px 30px;
        border-radius: 8px;
        font-size: 2vmax;
    }

    .mockup {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .mockup--text {
        font-size: 3vmax;
        line-height: 4.6vmax;
    }
}

/* Manutencao */
#manutencao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: auto;
}

#manutencao img {
    width: 150px;
    height: auto;
}

#manutencao h3 {
    max-width: 80vh;
    padding: 10px 20px;
}

@media only screen and (max-width: 450px) {
    #manutencao img {
        width: 120px;
        height: auto;
    }
}