.blog-header, .blog-content {
    display: grid;
    grid-template-columns: 816.4px 439.6px;
    column-gap: 40px;
    padding-top: 50px;
}

.blog-recentes {
    display: none;
}

.blog-recentes--content {
    margin-top: 40px;
}

.blog-content {
    padding-bottom: 100px;
}

.blog-content--left--conteudo > p > a {
    font-weight: 400;
    font-size: 20px;
    color: blue;
    text-decoration: underline;
}

.blog-header--noticias {
    display: grid;
    grid-template-columns: auto;
    justify-content: left;
    align-content: baseline;
    row-gap: 20px;
}

.blog-header--img {
    width: 816.4px;
    height: 550px;
    object-fit: cover;
    border-radius: 20px;
}

.blog-content--title {
    font-weight: 500;
}

.blog-content--hr {
    border: none;
    background-color: #01AEF0;
    opacity: 0.7;
    height: 4px;
    width: 95%;
}

@media (max-width: 1400px) {
    .blog-header, .blog-content {
        grid-template-columns: 699.4px 376.6px;
        column-gap: 40px;
    }

    .blog-header--img {
        width: 699.4px;
    }
}

@media (max-width: 1200px) {
    .blog-header, .blog-content {
        grid-template-columns: 582.4px 313.6px;
        column-gap: 40px;
    }

    .blog-header--img {
        width: 582.4px;
    }
}

@media (max-width: 992px) {
    .blog-header, .blog-content {
        display: grid;
        width: inherit;
        grid-template-columns: auto;
    }

    .blog-content {
        padding-bottom: 50px;
    }

    .blog-recentes {
        display: initial;
    }

    .blog-recentes--content {
        display: grid;
        grid-template-columns: 338px 338px;
        column-gap: 20px;
        row-gap: 40px;
        padding-bottom: 100px;
    }

    .blog-recentes--noticias {
        display: grid;
        grid-template-columns: auto;
        row-gap: 20px;
        justify-content: left;
        align-content: baseline;
    }

    .blog-recentes--title {
        text-align: center;
    }

    .blog-header--img {
        width: inherit!important;
    }

    .blog-header--noticias, .blog-content--right {
        display: none;
    }

    .blog-content--left--conteudo {
        text-align: justify;
    }

    .blog-content--title {
        text-align: center;
    }

    .blog-content--hr {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .blog-recentes--content {
        grid-template-columns: auto;
        justify-content: center;
    }

    .blog-recentes--noticias {
        justify-content: center;
    }

    .blog-header--img {
        width: 516px;
        align-content: center;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 576px) {
    .blog-header--img {
        width: inherit;
        margin: 0 auto 0 auto;
    }
}