.noticias-row {
    margin-block: 100px;
}

.noticias-row--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    column-gap: 40px;
}

.noticias-row--column {
    width: 405.33px;
}

.noticias-row--links {
    display: grid;
    grid-template-columns: auto;
    row-gap: 20px;
    align-content: baseline;
}

.noticias-row--links > div:nth-child(1) {
    margin-top: 10px;
}

.noticias-link--title {
    display: inline;
    margin-left: 20px;
}

.noticias-row--btn {
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 1400px) {
    .noticias-row--column {
        width: 350px;
    }
}

@media (max-width: 1200px) {
    .noticias-row--column {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .noticias-row--content {
        row-gap: 20px;
    }

    .noticias-row--column {
        width: 320px;
    }

    .noticias-row--links {
        margin: 0 auto;
    }
    
    .noticias-row--container {
        display: grid;
        justify-content: center;
    }

    .noticias-row--btn {
        width: 320px;
        margin: 40px auto 0 auto;
    }
}

@media (max-width: 768px) {
    .noticias-row--column {
        width: 300px;
    }

    .noticias-row--content > div:nth-child(2) {
        margin-block: 20px;
    }

    .noticias-row--links {
        margin-top: 0;
    }

    .noticias-row--btn {
        width: 300px;
    }
}