.noticias-novidades {
    background-color: #E4EBEE;
    border-style: solid;
    border-width: 1px;
    border-color: #01AEF0;
    padding-block: 100px;
}

.noticias-novidades--container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.noticias-novidades--column {
    display: flex;
    align-items: center;
    justify-content: center;
}

.noticias-novidades--forms {
    display: grid;
    width: 500px;
}

.noticias-novidadades--form-control {
    height: 60px;
    width: 100%;
}

.noticias-novidades--title {
    font-weight: 500;
}

.noticias-novidades--btn {
    width: 80%;
    border-radius: 50px;
    margin: auto;
}