.noticias-row--content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticias-link {
    margin-block: 20px;
}

.noticias-row--links > div:nth-child(1) {
    margin-top: 10px;
}

.noticias-link--date {
    background-color: #01AEF0;
    border-radius: 15px;
    color: #ffffff;
    display: inline;
    padding: 5px 20px;
}

.noticias-link--title {
    display: inline;
    margin-left: 20px;
}

.blog-card {
    width: 440px;
}

.blog-card--content {
    height: 250px;
}

.blog-card--img {
    width: inherit;
}

.blog-card--title {
    text-align: center;
    margin-bottom: 20px;
}

.noticias-row--btn {
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 1400px) {
    .noticias-row--column {
        width: 350px;
    }
}

@media (max-width: 1200px) {
    .noticias-row--column {
        width: 300px;
    }
}

@media (max-width: 992px) {
    .noticias-row--column {
        width: 320px;
    }

    .noticias-row--links {
        margin: auto;
        margin-top: 40px;
    }
    
    .noticias-row--container {
        display: grid;
        justify-content: center;
    }

    .noticias-row--btn {
        width: 320px;
        margin: 40px auto 0 auto;
    }

    .noticias-row--links {
        display: grid;
        justify-content: center;
    }

    .noticias-link {
        margin: 0;
    }
    
    .noticias-row--links > div:nth-child(2) {
        margin-block: 20px;
    }
}

@media (max-width: 768px) {
    .noticias-row--column {
        width: 300px;
    }

    .blog-card {
        margin: auto;
    }

    .noticias-row--content > div:nth-child(2) {
        margin-block: 20px;
    }

    .noticias-row--links {
        margin-top: 0;
    }

    .noticias-row--btn {
        width: 300px;
    }

    .noticias-link--title {
        margin-left: 15px;
    }
}