.servicos-home--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicos-home--btn {
    width: 100%;
    margin-top: 40px;
}

@media (max-width: 768px) {
    .servicos-home--cards > div:nth-child(2) {
        margin-block: 20px;
    }

    .servicos-home--container {
        display: grid;
        justify-content: center;
    }

    .servicos-home--btn {
        width: 300px;
        margin: 40px auto 0 auto;
    }
}