.sobre-formacao {
    padding-block: 100px;
}

.sobre-formacao--container {
    max-width: 1600px;
    margin: auto;
}

.formacao--title {
    margin: 0;
}

.formacao--subtitle {
    text-align: center;
    margin: 6px 0 40px 0;
    padding: 0 20px;
}

.sobre-formacao--cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.gestora-card {
    width: 380px;
}

.gestora-card--content {
    background-color: #E4EBEE;
    height: 340px;
    border-radius: 0 0px 27px 27px;
    padding: 20px;
    border-style: solid;
    border-color: #01AEF0;
    border-width: 0 1px 1px 1px;
}

.gestora-card--img {
    width: inherit;
}

.gestora-card--nome {
    text-align: center;
    font-weight: 500;
    margin-bottom: 40px;
    min-height: 73px;
}

.gestora-card--list {
    color: #01AEF0;
    margin-left: 10px;
    padding: 0;
}

li {
    list-style: none;
}

li::before {
    content: "\2022";
    font-size: 22px;
    margin-right: 20px;
}

.gestora-card--list > li > p {
    color: #000000;
    display: inline;
}

@media (max-width: 1650px) {
    .gestora-card {
        width: 330px;
    }

    .gestora-card--content {
        height: 380px;
    }

    .sobre-formacao--cards {
        justify-content: center;
    }

    .gestora-card--vanessa {
        margin: 0 20px 0px 20px
    }

    .gestora-card--gil {
        margin: 0 20px 0 0;
    }

    .gestora-card--nome {
        min-height: 64px;
    }
}

@media (max-width: 1420px) {
    .gestora-card {
        width: 460px;
        margin: 20px 20px;
    }

    .gestora-card--nome {
        min-height: initial;
    }

    .gestora-card--content {
        height: 320px;
    }
}

@media (max-width: 1350px) {
    .gestora-card--content {
        height: 280px;
    }
}

@media (max-width: 1000px) {
    .gestora-card {
        width: 350px;
        margin: 10px 10px;
    }
}

@media (max-width: 780px) {
    .gestora-card {
        width: 300px;
    }

    .gestora-card--nome {
        min-height: 65px;
    }

    .gestora-card--content {
        height: 320px;
    }
}

@media (max-width: 450px) {
    .gestora-card {
        width: 290px;
    }
}