.sobre-base {
    padding-block: 100px;
}

.sobre-base--container {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
    row-gap: 40px;
}

.sobre-base--container.mobile {
    display: none;
}

.sobre-base--item {
    height: 250px;
    width: auto;
}

.img-box {
    border-radius: 27px;
    display: block;
}

@media (max-width: 1350px) {
    .sobre-base--item {
        height: 300px;
        width: auto;
    }
}

@media (max-width: 850px) {
    .sobre-base--container.mobile {
        display: block;
        grid-template-columns: none;
    }

    .sobre-base--container.desktop {
        display: none;
    }

    .sobre-base--item {
        margin: 0 0 20px 0;
    }

    .item-text {
        height: auto;
        margin-bottom: 40px;
    }
}