.sobre-regiao {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    align-items: center;
    align-content: center;
}

.sobre-regiao--text {
    width: 500px;
    display: inline-block;
}

.sobre-regiao--map {
    height: inherit;
    width: 70vw;
    position: absolute;
    z-index: -1;
}

.sobre-regiao--bg {
    background-image: linear-gradient(269.91deg, #01AEF0 32.37%, 
    rgba(217, 217, 217, 0) 99.92%);
    height: inherit;
}

.sobre-regiao--container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 1400px) {
    .sobre-regiao {
        background-size: cover;
    }
}

@media (max-width: 800px) {
    .sobre-regiao {
        position: initial;
        display: flex;
        align-items: center;
        align-content: center;
    }

    .sobre-regiao--text {
        position: initial;
        margin: auto;
        text-align: center;
        width: 80%;
    }
}