.sobre--img-box {
    border-radius: 27px;
    text-align: center;
    padding-top: 40px;
    height: inherit;
    width: inherit;
}

.missao--parent {
    display: grid;
    grid-template-columns: 35% 65%;
}

.missao-right {
    padding-left: 80px;
}

.missao1 > div:nth-child(2) {
    margin-top: 40px;
}

.sobre-missao--container > div:nth-child(2) {
    margin-block: 80px;
}

@media (max-width: 1400px) {
    .missao-right {
        padding-left: 60px;
    }

    .missao1 > div:nth-child(2) {
        margin-top: 30px;
    }

    .sobre-missao--container > div:nth-child(2) {
        margin-block: 60px;
    }
}

@media (max-width: 992px) {
    .missao-right {
        padding-left: 40px;
    }

    .missao1 > div:nth-child(2) {
        margin-top: 30px;
    }

    .sobre-missao--container > div:nth-child(2) {
        margin-block: 40px;
    }
}

@media (max-width: 768px) {
    .missao--parent {
        display: initial;
    }

    .missao-right {
        padding-left: 0px;
        margin-top: 0px;
        margin-block: 0px;
    }

    .sobre--img-box {
        margin: 60px 0 30px 0;
    }

    .missao1 > div:nth-child(2) {
        margin-top: 10px;
    }

    .sobre--img-box1 {
        height: 500px;
        margin-top: 0;
    }

    .sobre--img-box2 {
        height: 200px;
    }

    .sobre--img-box3 {
        height: 250px;
    }
}