.sobre-regiao {
    height: 500px;
}

.sobre-regiao--text {
    width: 500px;
    display: inline-block;
}

.sobre-regiao--map {
    height: inherit;
    width: 70vw;
    position: absolute;
    z-index: -1;
}

.sobre-regiao--bg {
    background-image: linear-gradient(269.91deg, #01AEF0 32.37%, 
    rgba(217, 217, 217, 0) 99.92%);
    height: inherit;
    display: grid;
}

.sobre-regiao--container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@media (max-width: 992px) {
    .sobre-regiao--text {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .sobre-regiao--text {
        width: 350px;
    }
}

@media (max-width: 576px) {
    .sobre-regiao--text {
        width: 90%;
        text-align: center;
    }

    .sobre-regiao--container {
        justify-content: center;
    }
}