.sobre-mudanca {
    text-align: center;
    padding-block: 100px;
}

.sobre-mudanca--container.desktop {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.sobre-mudanca--img {
    width: 70%;
}

.sobre-mudanca--column.column.left {
    width: 60%;
    text-align: left;
    justify-content: center;
}

.sobre-mudanca--column.column.right {
    width: 40%;
    text-align: right;
}

.sobre-mudanca--btn {
    margin-top: 20px;
}

.sobre--quote {
    font-weight: bold;
    margin-top: 25px;
}

@media (max-width: 992px) {
    .sobre-mudanca--container.desktop {
        padding: 40px;
    }

    .sobre-mudanca--img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .sobre-mudanca--container.mobile {
        display: inline-block;
        padding: 40px 20px 40px 20px;
    }

    .sobre-mudanca--img {
        margin-bottom: 60px;
        width: 60%;
    }

    .sobre-mudanca--container.desktop {
        display: none;
    }
}

@media (max-width: 576px) {
    .sobre-mudanca--container.container {
        width: 90%;
    }
}