.text-box {
    padding: 40px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}

/* SobreBase */
.sobre-content {
    padding-block: 100px;
}

.sobre-base {
    margin-bottom: 100px;
}

.sobre-base--container {
    display: grid;
    grid-template-columns: 638px 638px;
    column-gap: 20px;
    row-gap: 40px;
}

.sobre-base--container.mobile {
    display: none;
}

.sobre-base--item {
    height: 250px;
    width: auto;
}

.sobre-base-img-box {
    border-radius: 27px;
    display: block;
    background-size: cover!important;
    height: inherit;
    width: inherit;
    background-blend-mode: multiply!important;
    background-repeat: no-repeat!important;
    background-position: center!important;
}

.text-box-base {
    width: inherit;
    height: inherit;
}

@media (max-width: 1399px) {
    .sobre-base--container {
        grid-template-columns: 548px 548px;
    }

    .sobre-base--item {
        height: 300px;
        width: auto;
    }
}

@media (max-width: 1199px) {
    .sobre-base--container {
        grid-template-columns: 458px 458px;
    }
}

@media (max-width: 991px) {
    .text-box {
        padding: 20px;
    }

    .sobre-base--container.mobile {
        display: block;
        grid-template-columns: none;
    }

    .sobre-base--container.desktop {
        display: none;
    }

    .sobre-base--item {
        margin: 0 0 20px 0;
    }

    .item-text {
        height: auto;
        margin-bottom: 40px;
    }
}

/* SobreMissao */
.missao-img-box {
    border-radius: 27px;
    text-align: center;
    padding-top: 40px;
    height: inherit;
    width: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.missao--parent {
    display: grid;
    grid-template-columns: 35% 65%;
}

.missao-right {
    padding-left: 80px;
}

.missao1 > div:nth-child(2) {
    margin-top: 40px;
}

.sobre-missao--container > div:nth-child(2) {
    margin-block: 80px;
}

.text-box-missao {
    height: -webkit-fill-available;
    width: initial;
}

@media (max-width: 1400px) {
    .missao-right {
        padding-left: 60px;
    }

    .missao1 > div:nth-child(2) {
        margin-top: 30px;
    }

    .sobre-missao--container > div:nth-child(2) {
        margin-block: 60px;
    }
}

@media (max-width: 992px) {
    .missao--parent {
        height: auto!important;
    }

    .missao-right {
        padding-left: 40px;
    }

    .missao1 > div:nth-child(2) {
        margin-top: 30px;
    }

    .sobre-missao--container > div:nth-child(2) {
        margin-block: 40px;
    }
}

@media (max-width: 768px) {
    .missao--parent {
        display: initial;
    }

    .missao-right {
        padding-left: 0px;
        margin-top: 0px;
        margin-block: 0px;
    }

    .text-box-missao {
        text-align: center;
    }

    .text-box-base {
        text-align: center;
    }

    .missao-img-box {
        margin: 60px 0 30px 0;
    }

    .missao1 > div:nth-child(2) {
        margin-top: 10px;
    }

    .missao-img-box1 {
        height: 500px;
    }

    .missao-img-box2 {
        height: 200px;
    }

    .missao-img-box3 {
        height: 250px;
    }
}