body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin: 0;
}

a {
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

a:hover {
    color: #000000;
}

h1 {
    font-size: 44px;
    color: #000000;
    line-height: 56px;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-size: 34px;
    font-weight: 400;
    color: #000000;
    line-height: 50px;
    margin: 0;
}

h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    margin: 0;
}

.notek-container {
    max-width: 1300px;
    height: inherit;
    margin: auto;
}

.section-title {
    margin-bottom: 40px;
    font-weight: 500;
    text-align: center;
}

.blue-border {
    border-color: #01AEF0;
    border-width: 1px;
    border-radius: 20px;
    border-style: solid;
}

.form-control {
    border: none;
    border-radius: 50px;
    height: 50px;
    padding: 20px;
}

.blue-btn {
    background-color: #01AEF0;
    padding: 8px 60px;
    margin-top: 10px;
    border-radius: 15px;
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
}

.blue-btn:active {
    color: #ffffff!important;
}

.column {
    float: left;
    height: fit-content;
}

.column:after {
    content: "";
    display: table;
    clear: both;
}

.mobile {
    display: none;
}

.card-content {
    background-color: #E4EBEE;
    border-radius: 0 0px 27px 27px;
    padding: 20px;
    border-style: solid;
    border-color: #01AEF0;
    border-width: 0 1px 1px 1px;
}


@media (max-width: 1400px) {
    p {
        font-size: 18px;
        line-height: 30px;
    }

    h1 {
        font-size: 42px;
        line-height: 52px;
    }

    h2 {
        font-size: 32px;
        line-height: 52px;
    }

    h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .blue-btn {
        font-size: 20px;
        line-height: 30px;
    }

    .notek-container {
        max-width: 900px;
    }
}

@media (max-width: 900px) {
    .notek-container {
        max-width: 90%;
    }
}

@media (max-width: 800px) {
    .text-box {
        height: auto;
    }
}

@media (max-width: 768px) {
    p {
        font-size: 16px;
        line-height: 30px;
    }

    a {
        font-size: 14px;
    }

    h1 {
        font-size: 40px;
        line-height: 52px;
    }

    h2 {
        font-size: 28px;
        line-height: 48px;
    }

    h3 {
        font-size: 20px;
        line-height: 32px;
    }

    .blue-btn {
        font-size: 18px;
        line-height: 25px;
    }
}

@media (max-width: 450px) {
    #manutencao img {
        width: 120px;
        height: auto;
    }
}

@media (max-width: 300px) {
    .blue-btn {
        padding: 6px 40px;
    }
}

/* Manutencao */
#manutencao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    width: auto;
}

#manutencao img {
    width: 150px;
    height: auto;
}

#manutencao h3 {
    max-width: 80vh;
    padding: 10px 20px;
}